.row
  .column
    .ui.inverted.menu.attached
      .header.item
        WorksTracker
      .right.menu
        .ui.item
          = link_to "Home", root_path
        - if user_signed_in?
          .ui.item
            = link_to "My projects", projects_path
          .ui.item
            = link_to "My profile", users_profile_path(current_user)
          .ui.item
            = link_to "Logout", destroy_user_session_path, method: :delete
        - else
          .ui.item
            = link_to "Sign in", new_user_session_path



