:javascript
  $(document).ready(function() {
    var $inviteForm = $('#invite_form');
    $inviteForm.hide();

    $('#invite_button').on('click', function(e) {
      e.preventDefault();
      $inviteForm.toggle();
    });
  });

%section.eleven.wide.column
  %h2= @project.title
 
.five.wide.column
  %section.ui.segment
    %h3.ui.header
      Members
    .ui.small.list
      - @project.members.each do |member|
        %li
          = member.email 
          - if member == @project.owner
            %span (Owner)

    = link_to "Invite people to join this project", '', class: 'ui primary button', id: 'invite_button'
    .ui.card#invite_form
      = simple_form_for @project.invites.new, class:'ui form' do |f|
        .content
          = f.input :email, as: :string, placeholder: 'email', label: false
        %button{type:"submit", class: "fluid ui bottom attached button"}
          Invite


