:javascript
  $(function() {
    /* Invite form */
    $('#btn-invite').on('click', function() {
      $('.modal#invite-form').modal('show');
    });

    $('#invite-form form').submit(function(e) {
      var $form = $(this);

      if (isValid($form)) return;
      e.preventDefault();
    });

    var isValid = function($form) {
      const $emailField = $form.find(".field.email");
      const $emailInput = $form.find("input[type='email']");

      if ($emailInput.val() === '') {
        showError($emailField, 'Email must be present')
        return false
      }

      if (!isValidEmail($emailInput.val())) {
        showError($emailField, 'Please Enter Valid Email')
        return false
      }

      return true
    }

    var isValidEmail = function(email) {
      var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
      return regex.test(email);
    }

    var showError = function($field, message) {
      console.log(message);
      console.log($field);
      $field.addClass('error');
      $field.append(errorMessage(message))
    }

    var errorMessage = function(message) {
      return `
        <div class='ui basic red pointing label transition visible'>
          ${message}
        </div>
      `
    }

    var $formFieldWithError = $('form').find('.field.error');
    if( $formFieldWithError.length > 0 ) {
      $formFieldWithError.closest('.modal').modal('show');
    }

    /* refresh activites */
    $('#activities').find('#btn-reload').on('click', function() {
      location.reload(true);
    });
  });

- content_for :activities_channel do
  = javascript_include_tag 'channels/activities'

= javascript_pack_tag 'task_lists'

.sixteen.wide.column
  .ui.message.transition.hidden#activities{'data-project-id' => project.id, 'data-current-user-id' => current_user.id }
    %i.close.icon
    .ui.grid
      .twelve.wide.column
        .header
          Activities
        %ul.ui.list
      .four.wide.column
        .ui.button.primary.hidden#btn-reload
          Refresh to view changes

.sixteen.wide.column 
  .ui.horizontal.divided.list
    .item
      %h3= project.title
    .item
      .ui.horizontal.list
        = render partial: 'projects/member', collection: project.members
        .item
          .tiny.ui.button#btn-invite Invite

= react_component('TaskLists',{project_id: project.id}, class: 'row')

-# Modal for invite form
= render "#{(invite ||= project.invites.new).to_partial_path}_form", invite: invite
