
%section.eleven.wide.column
  %h2= project.title
 
.five.wide.column
  %section.ui.segment
    %h3.ui.header
      Members
    .ui.small.list
      - project.members.each do |member|
        %li
          = member.email
          - if member == project.owner
            %span (Owner)

    = link_to "Invite people to join this project", '', class: 'ui primary button', id: 'invite_button'
    = simple_form_for invite, class: 'ui form' do |f|
      .ui.card
        = render "#{invite.to_partial_path}_form", f: f
