:javascript
  $(function() {
    /* Add list form */
    $('#btn_add_list').on('click', function() {
      $('.modal#add-list-form').modal('show');
    });

    /* Invite form */
    $('#btn-invite').on('click', function() {
      $('.modal#invite-form').modal('show');
    });

    var $formFieldWithError = $('form').find('.field.error');
    if( $formFieldWithError.length > 0 ) {
      $formFieldWithError.closest('.modal').modal('show');
    }
  });


= javascript_pack_tag 'task_lists'


.sixteen.wide.column 
  .ui.horizontal.divided.list
    .item
      %h3= project.title
    .item
      .tiny.ui.blue.button#btn_add_list
        Add list
    .item
      .ui.horizontal.list
        = render partial: 'projects/member', collection: project.members
        .item
          .tiny.ui.button#btn-invite Invite



-#
  .sixteen.wide.column
    .ui.four.cards
      = render project.lists.persisted

= react_component('TaskLists',{project_id: project.id}, class: 'row')

-# Modal for invite form
= render "#{(invite ||= project.invites.new).to_partial_path}_form", invite: invite

-# Modal for list form
.ui.mini.modal#add-list-form
  .header
    Add List
  .content
    = simple_form_for [project, list ||= project.lists.new], class: 'ui form' do |f|
      .field
        = f.input :title
      %button{type:"submit", class: "ui green ok inverted button"}
        Submit
