:javascript
  $(function() {
    /* Invite form */
    $('#btn-invite').on('click', function() {
      $('.modal#invite-form').modal('show');
    });
  });

- content_for :activities_channel do
  = javascript_include_tag 'channels/activities'

- content_for :invite_form_validation do
  = javascript_include_tag 'invite-form-validation'

= javascript_pack_tag 'task_lists'

.hidden#activities{'data-project-id' => project.id}

.sixteen.wide.column 
  .ui.horizontal.divided.list
    .item
      %h3= project.title
    .item
      .ui.horizontal.list
        = render partial: 'projects/member', collection: project.members
        .item
          .tiny.ui.button#btn-invite Invite

= react_component('TaskLists', {project_id: project.id, current_user_id: current_user.id}, {class: 'row'})

-# Modal for invite form
= render "#{(invite ||= project.invites.new).to_partial_path}_form", invite: invite
