.five.wide.centered.column{style:"padding-top:80px;"}
  %h2.ui.header.center.aligned
    Login to your account
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .ui.segment
      .field
        = f.input :email, required: false, autofocus: true, input_html: {value: 'demo@email.com'}
      .field
        = f.input :password, required: false, input_html: {value: 'demoforuser'}
      .field
        .ui.checkbox
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

      = f.button :submit, "Log in", class: "ui fluid large primary button"

    = render "devise/shared/links"
