.five.wide.centered.column{style:"padding-top:80px;"}
  %h2.ui.header.center.aligned
    Sign up
  .ui.segment
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      = hidden_field_tag :token, @invitation.token if @invitation
      .field
        = f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email'
      .field
        = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
          label: false, placeholder: 'Password'
      .field
        = f.input :password_confirmation, required: true, label: false, placeholder: 'Password Confirmation'

      = f.button :submit, "Sign up", class: "ui fluid large primary button" 

    = render "devise/shared/links"
